
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800;900&display=swap');


:root{
    --size-Mobile: 375px;
    --size-Desktop: 1440px;
    --gradient-Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
    --color-Pale-Blue: hsl(243, 100%, 93%);
    --color-Grayish-Blue: hsl(229, 7%, 55%);
    --color-Blue: hsl(228, 56%, 26%);
    --color-Dark-Blue: hsl(229, 57%, 11%);
    --Font-size: 14px
    /*font-family: 'Raleway', sans-serif;*/
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(images/bg-mobile.png);
    background-size: 100% 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 6%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: auto;
}

/*------------- CARD 1 -------------*/

.card-1{
    background-color: var(--color-Blue);
    display: flex;
    flex-direction: column;
    max-width: 331px;
    min-width: 190px;
    width: 100%;
    padding: 33px;
    margin: 7px;
    border-radius: 0.7em 6em 0.7em 0.7em;
}

.card-1 .icons{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-top: 17px;
}

.icon{
    background-color: var(--color-Dark-Blue);
    width: 50px;
    height: 50px;
    padding: 13px;
    margin-right: 13px;
    margin-top: 13px;
    border-radius: 0.6em;
}

/*------------- CARD 2 -------------*/

.card-2{
    background-color: var(--color-Blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 33px;
    margin: 7px;
    border-radius: 0.7em;
    font-family: "Raleway";
    position: relative;

}

.card-2 .text{
    color: var(--color-Pale-Blue);
    font-size: 1em;
    margin-bottom: 15px;
}

.bar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-2 .bar-container .bar-space{
    background-color: var(--color-Dark-Blue);
    width: 100%;
    height: 20px;
    border-radius: 12px;
    padding: 3px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.card-2 .bar-container .bar-color{
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    width: 81.5%;
    height: 100%;
    border-radius: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card-2 .bar-container .bar-color .bar-point{
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: 2px;
}

.card-2 .limits{
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 0.9em;
    margin-bottom: 30px;
}

.card-2 .globo{
    background-color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Raleway";
    font-size: 0.7em;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 1em;
    width: 65%;
    position: absolute;
    bottom: -30px;
}

.card-2 .globo .number{
    font-size: 3.5em;
    font-weight: 700;
    margin-right: 7px;
}

.card-2 .globo .left{
    color: var(--color-Grayish-Blue);
    margin: 7px;
}


.attribution{
    align-self: flex-start;
    margin-top: auto;
}

.attribution a{
    color: var(--color-Grayish-Blue);
    text-decoration: none;

}

/*###############   MEDIA QUERIES ###############*/

@media screen and (orientation: landscape) and (min-width: 376px){

    body{
        background-image: url(images/bg-desktop.png);
        background-color: var(--color-Dark-Blue);
        background-size: 100% 50%;
        background-repeat: no-repeat;
        background-position-y: 100%;
        padding: 0px 18%;
    }

/*------------- CONTAINER -------------*/

    .container{
        flex-direction: row;
        align-items: flex-end;
        width: 100%;
        margin-top: auto;
    }

    .card-2{
        align-items: flex-start;
    }

    .card-2 .limits{
        margin-bottom: 3px;
    }

    .card-2 .globo{
        background-color: white;
        right: 30px;
        top: -45px;
        height: fit-content;
        width: 35%;
    }

    .globo .colita{
        border: 15px solid;
        border-top-color: white;
        border-right-color: white;
        border-bottom-color: transparent;
        border-left-color: transparent;
        position: absolute;
        bottom: -20px;
        right: 0px;
    }
}